<div class="container">
  <div class="well">
    <p>Imię: @ViewBag.name</p>
    <p>Nazwisko: @ViewBag.surname</p>
    <p>Płeć: @ViewBag.sex</p>
    <p>Zawód: @ViewBag.job</p>
    <p>Hobby: @ViewBag.hobby</p>
  </div>
</div>